@model IEnumerable<BusinessObject.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <h2>Product List</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Weight</th>
                <th>Unit Price</th>
                <th>Units In Stock</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () { // Corrected the syntax here
        ShowAllProducts();

        function ShowAllProducts() {
            $("table tbody").html("");
            $.ajax({
                url: "https://localhost:7128/odata/Products",
                type: "get",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result, status, xhr) {
                    $.each(result, function (index, value) {
                        var appendElement = $("<tr>"); 
                        appendElement.append($("<td>").html(value["productId"]));
//                        appendElement.append($("<td>").html(value["Category"]));
                        appendElement.append($("<td>").html(value["productName"])); 
                        appendElement.append($("<td>").html(value["weight"]));
                        appendElement.append($("<td>").html(value["unitPrice"]));
                        appendElement.append($("<td>").html(value["unitsInStock"]));
//                        appendElement.append($("<td>").html(value["update"])); 
                        appendElement.append($("<td>").html("<a href=\"?id=" +
                            value["productId"] + "\"><img src=\"icon/edit.png\" /></a>"));
                        appendElement.append($("<td>").html("<img class=\"delete\" src=\"icon/close.png\" />"));
//                        $("table tbody").append(appendElement);
                    });
                    console.log(result);
                },
                error: function (xhr, status, error) {
                    console.log(xhr);
                }
            });
        }

        $("table").on("click", "img.delete", function () {
            var productId = $(this).closest("tr").find("td:nth-child(1)").text();

            $.ajax({
                url: "https://localhost:7128/odata/Products/" + productId,
                type: "delete",
                contentType: "application/json",
                success: function (result, status, xhr) {
                    ShowAllProducts();
                },
                error: function (xhr, status, error) { 
                    console.log(xhr);
                }
            });
        });
    });
</script>
