@model IEnumerable<BusinessObject.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <h2>Product List</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Category</th>
                <th>Product Name</th>
                <th>Weight</th>
                <th>Unit Price</th>
                <th>Units In Stock</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        ShowAllProducts();

        function ShowAllProducts() {
            $("table tbody").html("");
            $.ajax({
                url: "https://localhost:7128/odata/Products",
                type: "get",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result, status, xhr) {
                    $.each(result.value, function (index, value) {
                        var appendElement = $("<tr>");
                        appendElement.append($("<td>").html(value.ProductId));
                        appendElement.append($("<td>").html(value.CategoryId));
                        appendElement.append($("<td>").html(value.ProductName));
                        appendElement.append($("<td>").html(value.Weight));
                        appendElement.append($("<td>").html(value.UnitPrice));
                        appendElement.append($("<td>").html(value.UnitsInStock));
                        appendElement.append($("<td>").html("<a href=\"products/edit/" +
                            value.ProductId + "\">Update</a>"));
                        appendElement.append($("<td>").html("<a class=\"products/delete\" href=\"delete/" +
                            value.ProductId + "\">Delete</a>"));
                        $("table tbody").append(appendElement);
                    });
                    console.log(result);
                },

                error: function (xhr, status, error) {
                    console.log(xhr);
                }
            });
        }

        $("table").on("click", "a.delete", function (e) {
            e.preventDefault();
            var productId = $(this).closest("tr").find("td:nth-child(1)").text();

            $.ajax({
                url: "https://localhost:7128/odata/Products/" + productId,
                type: "delete",
                contentType: "application/json",
                success: function (result, status, xhr) {
                    ShowAllProducts();
                },
                error: function (xhr, status, error) {
                    console.log(xhr);
                }
            });
        });
    });
</script>
